body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 20px;
}

.terminal {
  border: 1px solid #555;
  padding: 10px;
  border-radius: 5px;
  background-color: #333;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.input-line {
  display: flex;
  align-items: center;
}

.prompt {
  color: #6effe6;
  margin-right: 5px;
}

.input {
  flex: 1;
  outline: none;
  min-height: 20px;
  overflow: auto;
  white-space: pre-wrap;
}

.output {
  margin-top: 10px;
  white-space: pre-wrap;
  min-height: 20px;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.icon {
  width: 32px; /* Increase the size for better visibility */
  height: 32px;
  margin-left: 15px; /* Add more space between icons */
  cursor: pointer;
  transition: transform 0.2s; /* Add a smooth transition for hover effect */
}

.icon:hover {
  transform: scale(1.2); /* Slightly enlarge the icon on hover */
}
